*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
.guide{
    height: 100vh;
    width: 100%;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    background-size: 20px;
    letter-spacing: 1px;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    margin: 10px 10px;
    padding:10px 30px ;
}
nav ul li a{
    color: black;
    font-weight: normal;
    text-decoration: none;
}
nav ul li a:hover{
    color: rgba(0, 183, 255, 0.979);
    transition: 1s;
}

.photos{
    height: 30px;
    width: 60px;
    position: relative;
}
.photos2{
    height: 300px;
    width: 200px;
    align-items: center;
    background-image: url(/6_1.jpg);
}